body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#form1 {
    flex: 1 0 auto;
  }
nav {
    overflow: visible;
}

input[type="button"], button, input[type="reset"], input[type="submit"] {
    width: auto;
}

footer.page-footer {
    margin-top: 30px;
}